.forms {
  width: 350px;
  margin: 6rem auto;
  padding: 2rem 0;
  box-shadow: 5px 10px 8px 10px #d1d0d0;
  border-radius: 10px;
}
.bs-form {
  margin: 10px;
}
.signup-link {
  text-decoration: none;
}
.add-todo {
  text-align: center;
}
